@import "tailwindcss";

html{
    scroll-snap-type: y mandatory;
    box-sizing: content-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

section{
    scroll-snap-align: start;
}

section.page_one{
    background-image: url('./assets/emile-perron-unsplash.jpg');
}

.dennis_pogi{
    background-image: url('./assets/DSCF3508.JPG');
    background-size: 2000px 2080px;
    background-position: -1100px -550px;
}

.cocky_brown{
    background-color: #DBD9CF;
}

ul.pageone_ul{
    list-style-type: none;
    margin-left: 20px;
    display: flex;
}

ul.pageone_ul li{
    margin-right: 30px;
    
}

ul.pageone_ul li svg{
    filter: invert(79%) sepia(86%) saturate(2%) hue-rotate(176deg) brightness(111%) contrast(80%);    
}